<footer>
  <div class="content-padding">

    <div class="footer-content">

      <p>Copyright &copy; David Ramirez</p>

      <div class="social-media-icons">
        <a href="https://github.com/davidthegreat"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://twitter.com/davidthegreat77"><i class="fa fa-twitter" aria-hidden="true"></i></a>
         <a href="https://www.linkedin.com/in/davidsramirez"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </div>

    </div>

  </div>
</footer>
